//- index.pug
doctype html
html
  head
    style
      include ../static/style.css
  body
    nav#navbar 
        
        ul
            div#logo 
                img(src="/static/logo.png")
                | NDA
            li #[a(href='/') Home]
            li #[a(href='/') About]
            li #[a(href='/') Services]
            li #[a(href='/') Class Info]
            li #[a(href='/') Contact Us]
    div.bgimage 
        section#forpicture
            div.foreground
                div Welcome! to Nora fatehi's Dance academy
                div.smallText Live to Dance
        h2.mission  Our Mission
        section#cardcontainer 
            div.forcard#card1 
                div.backblur Customised Training
                p.backblur Get the training customised as per your needs
            div.forcard#card2 
                div.backblur All Round Development
                p.bakcblur Focus on development on all facets 
            div.forcard#card3 
                div.backblur Equal Oppurtunity
                p.backblur each one get's equal oppurtunity to shine 
    section#forsponsers  
        h2 Our Sponsors   
        div#sponsorlogo 
            img(src="/static/logo1.png", alt="sponsor logo" class='spimage')
            img(src="/static/logo2.png", alt="sponsor logo" class='spimage' id='facebooklogo')
            img(src="/static/logo3.png", alt="sponsor logo" class='spimage')
    footer#footer 
        | Copyright © DanceWithNora.com | All Rights Reserved 
    script
      include ../static/index.js