h1{
    text-align: center;
}
.myform{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 90vh;
}
.myinput{
    padding: 10px;
    margin: 12px;
    width: 45%;
}
.btn{
    height: 30px;
    width: 100px;
    padding: 0px;
    margin: 10px;
    cursor: pointer;
}